target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
*.iml

.mvn/
.mvn/timing.properties
.idea/
.settings/
.classpath
.project
.springBeans
.apt_generated
.DS_Store
bower_components
node_modules

.tmp
.factorypath
git.properties

target/
bin/
_site/

src/gitbook/docs
src/gitbook/_book
src/gitbook/*.pdf
src/gitbook/*.epub
src/gitbook/*.mobi

**/src/site/markdown/README.md
**/src/site/markdown/src/readme
**/src/site/resources
**/oss-workspace

/deprecated/
src/site/markdown/ROADMAP.md
src/site/markdown/LOCAL.md
.profiler